<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.NFC" />

  <uses-feature android:name="android.hardware.wifi" />
  <uses-feature
    android:name="android.hardware.nfc"
    android:required="false" />

  <supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true"
    android:xlargeScreens="true" />

  <queries>
    <intent>
      <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>
  </queries>

  <application
    android:name="org.supla.android.SuplaApp"
    android:allowBackup="false"
    android:fullBackupContent="@xml/backup_descriptor"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.Light"
    android:usesCleartextTraffic="true">

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/logo" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/primary" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_channel_id"
      android:value="@string/default_notification_channel_id" />
    <meta-data
      android:name="com.google.android.gms.car.application"
      android:resource="@xml/automotive_app_desc" />
    <meta-data
      android:name="androidx.car.app.minCarApiLevel"
      android:value="1" />
    <meta-data
      android:name="com.google.mlkit.vision.DEPENDENCIES"
      android:value="barcode_ui" />

    <receiver
      android:name=".widget.onoff.OnOffWidget"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/on_off_widget_info" />
    </receiver>

    <receiver
      android:name=".widget.single.SingleWidget"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/single_widget_info" />
    </receiver>

    <receiver
      android:name=".widget.extended.ExtendedValueWidgetReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/extended_widget_info" />
    </receiver>

    <uses-library
      android:name="android.test.runner"
      android:required="false" />

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:windowSoftInputMode="adjustResize">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity
      android:name=".cfg.CfgActivity"
      android:launchMode="singleTop" />

    <activity
      android:name=".ZWaveConfigurationWizardActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:screenOrientation="sensorPortrait" />

    <activity
      android:name=".features.widget.doublewidget.DoubleWidgetConfigurationActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>
    <activity
      android:name=".features.widget.singlewidget.SingleWidgetConfigurationActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>
    <activity
      android:name=".features.widget.extendedwidget.ExtendedValueWidgetConfigurationActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".features.nfc.call.CallTagActionActivity"
      android:launchMode="singleTop"
      android:exported="true">

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="supla.org" android:pathPrefix="/tag/"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.nfc.action.NDEF_DISCOVERED" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/vnd.org.supla.tag" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.nfc.action.TAG_DISCOVERED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <service
      android:name=".core.notifications.NotificationMessagingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <service
      android:name="androidx.work.impl.foreground.SystemForegroundService"
      android:foregroundServiceType="shortService" />

    <service
      android:name=".automotive.SuplaCarAppService"
      android:exported="true">
      <intent-filter>
        <action android:name="androidx.car.app.CarAppService" />
        <category android:name="androidx.car.app.category.IOT" />
      </intent-filter>
    </service>

    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge"
      tools:replace="android:authorities">
      <meta-data
        android:name="androidx.work.WorkManagerInitializer"
        android:value="androidx.startup"
        tools:node="remove" />
    </provider>
  </application>

</manifest>
